.action {
	display: grid;
	gap: 1rem;
	text-align: center;
	padding: 2rem;
	padding-block: 4rem;
	border-radius: 10px;
	background: linear-gradient(94.3deg, #818dad -2.99%, #5f81d8 106.69%);
	margin-bottom: 5rem;
}
.action-msg .section-subheading {
	margin-bottom: 1.5rem;
}
@media (min-width: 70rem) {
	.action {
		text-align: center;
		display: grid;
		justify-content: center;
		margin-inline: auto;
		max-width: 50vw;
	}
	.action .btn-primary {
		width: 50vw;
		max-width: 25rem;
		margin-inline: auto;
	}
}
