.testimonials {
  margin-top: 3rem;
}
.testimonials .container {
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.testimonial-header {
  text-align: center;
}
.testimonial-card {
  padding: 2rem;
  padding-top: 4rem;
  position: relative;
  text-align: center;
  background-color: hsla(252, 61%, 32%, 0.7);
  box-shadow: 0 3px 3px rgb(21, 9, 72);
}
.testimonial-avatar {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -3rem;
}
.testimonial-name {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 0.6rem;
}
.testimonial-paragraph {
  color: hsl(217, 100%, 91%);
  font-weight: 100;
}

@media (min-width: 70rem) {
  .testimonial-header {
    text-align: center;
    display: grid;
    justify-content: center;
    margin-inline: auto;
  }
  .testimonials .container {
    margin-block: 5rem;
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }
}
